/* Navbar */
.navbar-brand { 
    font-size: 32px;
    text-transform: uppercase;
}
.navbar-brand:hover {
    color: #e673b0 !important;

}
.logo{
    height: 50px;
    padding-right: 20px;
}
.nav-link:hover{
    color: #e673b0 !important;
}

/* Jumbotron */
.jumbotron {
    background-color: #fce8f7;
    background-size: cover;
    border-radius: 30px;
    height: 1050px;
    margin: 10px;
    background-image: linear-gradient(to right, rgba(227, 234, 248,1), rgba(252, 231, 246, 0));
}

/* konten teks */
.konten .teks h2{
    font-size: 55px;
    font-weight: 200;
    text-align: justify;
    padding-bottom: 70px;
}

.konten .teks h2 span{
    font-weight: 700;
    font-size: 70px;
}

.konten .teks p{
    font-weight: 200;
    text-align: justify;
}

/* Tombol Buy */
.buy{
    color: #e93595;
    border-radius: 50px;
    width: 150px ;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 150px;
    background-image: linear-gradient(to right, rgba(227, 234, 248,1), rgba(252, 231, 246, 1));
}

.buy span{
    padding-left: 10px;
    font-weight: bold;
}

/* Sepatunya */
.produk{
    width: 300px;
    height: 300px;
    margin: 100px 120px;
}

/* Merek dan Harga */
.harga-fluid {
    position: relative;
    z-index: 1;
    border-radius: 20px;
    font-weight: 700px;
    text-align: center;
    color: black;
    width: 200px;
    margin-left: 130px;
    margin-top: -100px;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(227, 234, 248,1), rgba(252, 231, 246, 1));

}
.harga-fluid p{
    color: #e93595;
    font-weight: 200px;
    text-align: center;
}
* Versi Desktop */
@media (min-width: 992px) { 
    /* Navbar */
    .navbar-brand{
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.9);
    }

    .nav-link {  
        font-weight: 200;
        text-transform: uppercase;
        margin-right: 30px;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.9);
    }
    
    .home {
        font-weight: 500;
    }
    
    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #e673b0;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -10px;
    }
    
    /* Jumbotron */
    .jumbotron {
        height: 640px;
        position: relative;
    }

    .jumbotron .container{
        z-index: 1;
        position: relative;
    }

    .jumbotron:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background-image: linear-gradient(to right, rgba(227, 234, 248,1), rgba(252, 231, 246, 1));
        position: absolute;
        bottom: 0;
    }

    /* Tagline */
    .konten h2{
        font-size: 60px;
        font-weight: 200;
        text-align: justify;
        padding-bottom: 70px;
    }
    
    .konten h2 span{
        font-weight: 700;
        font-size: 50px;
    }

    /* Tombol Buy */
    .buy{
        margin-top: 30px;
        color: #e93595;
        border-radius: 50px;
        width: 150px ;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    /* Sepatu */
    .produk{
        margin-left: 220px;
        margin-top: 100px;
        width: 500px;
        height: 300px;
    }

    /* Merek-Harga */
    .harga-fluid {
        position: relative;
        z-index: 1;
        border-radius: 20px;
        font-weight: bold;
        text-align: center;
        color: black;
        width: 200px;
        margin-left: 320px;
        margin-top: -150px;
        bottom: 0;
        background-image: linear-gradient(to right, rgba(227, 234, 248,1), rgba(252, 231, 246, 1));
    }

    .harga-fluid p{
        color: #e93595;
        font-weight: 200px;
        text-align: center;
    }
}
